body {
	padding-top: 80px;
}
.item {
	margin-top: 10px;
	margin-left: 120px;
	display: none;
	
}

.login-body {
	background-color: grey;
}

.brand {
	letter-spacing: 3px;
}

.form-login {
	padding-top:55px;
	height: 250px;
	width: 450px;
	background: white;
	margin-top: 100px;
	box-shadow: 20px;
	border-radius: 15px;
}


.login-button {
	width:15em;
	margin-top: 1em;
}

#password {
	height: 2em;
}

#username {
	height: 2em;
}

.alert {
	width:50%;
	display:none;
	border-radius: 15px;
}

thead tr th {
	letter-spacing: -.005em;
}

.selected-profile-buttons {
	margin-left: 30%;
	display: none;

}
.buttons {
	margin-left: 30%;
	display: none;

}

.selected-profile-buttons .btn {
	margin-right: 8px;

}


.account-fields {
	margin-left: 15em;
}
.profile-fields {
	margin-left: 15em;
}

.account-form {
	display:none;
}
.profiles-form {
	display: none;
}

.form-buttons button {
	margin-right: 1.4em;
}

.create-button {
	margin-bottom: 10px;
}
.accounts-table {
	display: none;
}
.account-mapping-buttons {
	margin-left: 30%;
	display: none;
}
.account-mapping-buttons button {
	margin-right: 1.4em;
}

