body {
	padding-top: 80px;
}

/*#item {
	background-color: 545454;
	margin:5px;

}
#item:hover {
	padding:2px;
}*/

.brand {
	letter-spacing: 3px;
}

.login-form {
	padding: 20px;
	height: 240px;
	width: 660px:;
	background: BCBCBC;
	margin-top: 150px;
}
.form-horizontal {
	margin-top: 4em;
	margin-left: 15em;
}
.login-button {
	width:11.8em;
	margin-top: 1em;
}

#inputpassword {
	height: 2em;
}

#username {
	height: 2em;
}

