<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<header id="main-header">
	</header>
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<a class="brand" href="index.html"><img src="img/fmm_logo.png"><br>Admin Console</a>
					<li class="item" id="accounts"><a href="index.html">Accounts</a></li>
					<li class="item"><a href="profiles.html">Profiles</a></li>
				</ul>
			</div>
		</div>
	</div>
	<section class="create-button container">
		<div class="btn-group">
			<button class="btn btn-primary" id="create-account">Create New Account</button>
		</div>
	</section>
<section class="for-table container">
	<table name="accounts" class="table table-hover">
		<thead>
			<tr>
				<th>Description</th>
				<th>Status</th>
				<th>Email</th>
				<th>Notional Limit</th>
				<th>Impression Limit</th>
				<th>Notional Available</th>
				<th>Impression Available</th>
			</tr>
		</thead>
		<tbody class="row">
			
		</tbody>		
	</table>
</section>
<div class="buttons">	
	<button type="submit" class="btn btn-large btn-warning" value="Modify" id="modify-button">Modify</button>
</div>
<section class="for-form">
	
</section>
	<script src="js/jquery-1.11.1.js" type="text/javascript"></script>
	<script src="js/underscore.js" type="text/javascript"></script>
	<script src="js/global.js" type="text/javascript"></script>
	<script src="js/listener.js" type="text/javascript"></script>
	<script type="text/template" id="accounts-template">
	<tr class="account" data-id="<%= id %>"><td><%= description %></td><td><%= status %></td><td><%=email %><td><%= notional_limit.format() %></td><td><%= impression_limit.format() %></td><td><%= notional_avail.format() %></td><td><%= impression_avail.format() %></td></tr></script>
	<script type="text/template" id="template-modify-accounts">
	<form class="container account-form form-horizontal">
		<legend><%= legend %> Account</legend>
		<fieldset class="account-fields">
		<div class="control-group">
		<label class="control-label" for="name">Account Name</label>
		<div class="controls">
		<input type="text" id="name" name="name" value="<%= name %>">
		</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="description">Account Description</label>
    		<div class="controls">
      			<input type="text" id="description" name="description" value="<%= description %>">
    		</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="status">Status</label>
			<div class="controls">
				<select name="status">
					<option><%= status %></option>
					<option>active</option>
					<option>disabled</option>
					<option>hidden</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="email">Email</label>
    		<div class="controls">
      			<input type="text" id="email" name="email" value="<%= email %>">
    		</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="notional-limit">Notional Limit</label>
    		<div class="controls">
      			<input type="text" id="notional-limit" name="notional_limit" value="<%= notional_limit %>">
    		</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="impression-limit">Impression Limit</label>
    		<div class="controls">
      			<input type="text" id="impression-limit" name="impression_limit" value="<%= impression_limit %>">
    		</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="notional-avail">Notional Available</label>
    		<div class="controls">
      			<input type="text" id="notional-avail" name="notional_avail" value="<%= notional_avail %>">
    		</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="impression-avail">Impression Available</label>
    		<div class="controls">
      			<input type="text" id="impression-avail" name="impression_avail" value="<%= impression_avail %>">
    		</div>
		</div>
		<div class="controls form-buttons">
			<button type="submit" class="btn btn-success btn-large" name="submit">Submit</button>
			<button type="cancel" class="btn btn-danger btn-large" name="cancel">Cancel</button>
		</div>
		</fieldset>
	</form>
	</script>
	<script src="js/index.js" type="text/javascript"></script>
	<script src="js/prototype.js" type="text/javascript"></script>
	<script type="text/javascript">$(document).ready();</script>
	

</body>
</html>